<% var menu='home'; %>
<% include layout.header.ejs %>

<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Express!</h1>
    <p>This app shows you session information.</p>
  </div>
</div>

<% include layout.footer.ejs %>